<div class="container-fluid ">

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <a class="nav navbar-text" href="#">TestKart</a>
  <button type="button" class="btn btn-default navbar-btn">Home</button>
  <button type="button" class="btn btn-default navbar-btn">Profile</button>
  <button type="button" class="btn btn-default navbar-btn">Free e-Cash</button>

  <button class="navbar-right btn btn-default navbar-btn label label-primary" data-toggle="modal" data-target=".bs-example-modal-sm"><h5>Login<h5></button>
</nav>
<br>
<br>
<br>
	<div class="btn-group ">
  		<button type="button" class="btn btn-default" data-toggle="dropdown">
    CATEGORIES <span class="caret"></span></button>
  		<ul class="dropdown-menu" role="menu">

    		<li><a href="#">MAN</a></li>
    		<li><a href="#">WOMAN</a></li>
    		<li><a href="#">KIDS</a></li>

    		<li class="divider"></li>

    		<li><a href="#">ELECTRONICS</a></li>
    		<li><a href="#">HOME & KITCHEN</a></li>
    		<li><a href="#">FOOTWEAR</a></li>
    		<li><a href="#">BOOKS</a></li>
    
    		<li class="divider"></li>
    
    		<li><a href="#">WHAT'S NEW</a></li>
   		</ul>
	</div>

<!-- log in model -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <center>
      	<br>
      		<input type="text" class="form-control" name="userName" placeholder="Username">
      	<br>
      		<input type="text" class="form-control" name="paasWord" placeholder="Password">
      	<p><a href="#">Sign up</a> now</p>
      </center>

		<div class="modal-footer">
        	    <button type="button" class="btn btn-primary">Login</button>
        	    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      	</div>

    </div>
  </div>
</div>







<div class="row">
    <div class="col-md-9">		

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="width: 850px; margin: 0 auto ;" >
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    
  </ol>

  <div  class="carousel-inner">

    <div class="item active">
      <img src="image/img_1.jpg" alt="image not found">
      <div class="carousel-caption">
      </div>
	</div>

    <div class="item">
      <img src="image/img_2.jpg" alt="image not found">
      <div class="carousel-caption">
      </div>
    </div>

    <div class="item">
      	<img src="image/img_3.jpg" alt="image not found">
      	<div class="carousel-caption">
        </div>
	</div>

	<div class="item">
      	<img src="image/img_4.jpg" alt="image not found">
      	<div class="carousel-caption">
        </div>
	</div>

	<div class="item">
      	<img src="image/img_5.jpg" alt="image not found">
      	<div class="carousel-caption">
        </div>
	</div>

	<div class="item">
      	<img src="image/img_6.jpg" alt="image not found">
      	<div class="carousel-caption">
        </div>
	</div>
   
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
</div>


	<div class="col-md-3">
		<div>
		<p class="text-success" style="font-size: 40px;">Special Offers <p>			
			<div class="panel panel-default">
  				<div class="panel-body">
  				<div class="panel panel-primary">Refer a friend get Rs. 100 e-Cash.
  					</div>    			   			
  				</div>
			</div>
			<div class="panel panel-default">
  				<div class="panel-body">
  					<div class="panel panel-primary">Buy more than 10,000 get 10% CashBack.
    				</div>
    			
  				</div>
			</div>
			<div class="panel panel-default">
  				<div class="panel-body">
    				<div class="panel panel-primary">Buy Two men's shirt One free.
    				</div>
    			</div>
			</div>
			<div class="panel panel-default">
  				<div class="panel-body">
    				<div class="panel panel-primary">Free original Flip-cover with xiomi Mi3
    				</div>
    			</div>
			</div>
		</div>
	</div>	
</div>
<hr>
<!-- thumbnail -->
<div>
<h1> Top selling Items:</h1>
	<div class="row">
  		<div class="col-sm-4 col-md-3">
    		<div class="thumbnail" >
      			<img data-src="holder.js/300x300" src="image/img_5.jpg" alt="Not available">
      			<div class="caption">
        			<h3>Price: $$$</h3>
        			<p><a href="#" class="btn btn-primary" role="button">Buy Now</a> <a href="#" class="btn btn-default" role="button">Add to wishlist</a></p>
      			</div>
    		</div>
  		</div>	
  		<div class="col-sm-4 col-md-3">
    		<div class="thumbnail" >
      			<img data-src="holder.js/300x300" src="image/img_1.jpg" alt="Not available">
      			<div class="caption">
        			<h3>Price: $$$</h3>
        			<p><a href="#" class="btn btn-primary" role="button">Buy Now</a> <a href="#" class="btn btn-default" role="button">Add to wishlist</a></p>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-4 col-md-3">
    		<div class="thumbnail" >
      			<img data-src="holder.js/300x300" src="image/img_2.jpg" alt="Not available">
      			<div class="caption">
        			<h3>Price: $$$</h3>
        			<p><a href="#" class="btn btn-primary" role="button">Buy Now</a> <a href="#" class="btn btn-default" role="button">Add to wishlist</a></p>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-4 col-md-3">
    		<div class="thumbnail" >
      			<img data-src="holder.js/300x300" src="image/img_3.jpg" alt="Not available">
      			<div class="caption">
        			<h3>Price: $$$</h3>
        			<p><a href="#" class="btn btn-primary" role="button">Buy Now</a> <a href="#" class="btn btn-default" role="button">Add to wishlist</a></p>
      			</div>
    		</div>
  		</div>

	</div>
	<div class="row">
  		<div class="col-sm-4 col-md-3" >
    		<div class="thumbnail" >
      			<img data-src="holder.js/300x300" src="image/img_8.jpg" alt="Not available" hight="150" width="150">
      			<div class="caption">
        			<h3>Price: $$$</h3>
        			<p><a href="#" class="btn btn-primary" role="button">Buy Now</a> <a href="#" class="btn btn-default" role="button">Add to wishlist</a></p>
      			</div>
    		</div>
  		</div>	
  		<div class="col-sm-4 col-md-3">
    		<div class="thumbnail" style="width: 300px; margin: 0 auto" >
      			<img data-src="holder.js/300x300" src="image/img_12.jpg" alt="Not available" hight="150" width="150">
      			<div class="caption">
        			<h3>Price: $$$</h3>
        			<p><a href="#" class="btn btn-primary" role="button">Buy Now</a> <a href="#" class="btn btn-default" role="button">Add to wishlist</a></p>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-4 col-md-3">
    		<div class="thumbnail" >
      			<img data-src="holder.js/300x300" src="image/img_9.jpg" alt="Not available" hight="150" width="150">
      			<div class="caption">
        			<h3>Price: $$$</h3>
        			<p><a href="#" class="btn btn-primary" role="button">Buy Now</a> <a href="#" class="btn btn-default" role="button">Add to wishlist</a></p>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-4 col-md-3">
    		<div class="thumbnail" >
      			<img data-src="holder.js/300x300" src="image/img_15.jpg" alt="Not available" hight="150" width="150">
      			<div class="caption">
        			<h3>Price: $$$</h3>
        			<p><a href="#" class="btn btn-primary" role="button">Buy Now</a> <a href="#" class="btn btn-default" role="button">Add to wishlist</a></p>
      			</div>
    		</div>
  		</div>

	</div>
</div>
<hr>
<div class="row">
    <div class="col-md-4">
    <img src="image/phone.png" hight="400" width="300">	
    </div>
    <div class="col-md-8">	
    </div>
    <p>Use our shop mobile Apps to order trending style quickly</p>

</div>
<hr>
</div>
<div>
<nav class="navbar-inverse">
	<div>
	<br>
		<center>
			Copyright © Roid Softwares
			<a href="#">Terms of Services</a>
			<a href="#">Privacy</a>
			<a href="#">Site Map</a>
		</center>
	</div>
</nav>
</div>